</div>

<footer id="footer-container" class="brown">
    <ul>
        <li>Facebook</li>
        <li>Twitter</li>
        <li>Design Portfolio</li>
        <li> <a href="https://www.linkedin.com/in/richard-hanrahan">LinkedIn</a> </li>
    </ul>
</footer>

<div class="bottom-background brown"> </div>
<div class="bottom-background brown footer-thin"> </div>

<aside class="top-background">
    <div class="square lightYellow"></div>
    <div class="square blue"></div>
    <div class="square red"></div>
    <div class="square black"></div>
    <div class="square brown"></div>
</aside>




</body>

</html>