/* ---
---

@import ""; */


/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

/* RESET CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* define colours */

/* $gray-lighter: #f7f7f7;
$gray-light: #dbdbdd;
$gray-dark: #aeafb3;
$gray-darker: #454547;
$pink: #e89d93;
$yellow: #eec71a; */

/* $lightyellow: #faeccd;
$blue: #9ab6bd;
$red: #9b4443;
$black: #47494c;
$brown: #bba9aa; */

.top-background{
  display: flex;
    flex-direction: row;
    margin-left: 20%;
    margin-top: -116%;
    position: absolute;
    justify-content: flex-start;
    align-items: flex-start;
    z-index: -1;
}

.square{
  width: 40px;
  height: 40px;
}

.lightYellow{
  background-color: #faeccd;
}

.blue{
  background-color: #9ab6bd;
}

.red{
  background-color: #9b4443;
}

.black{
  background-color: #47494c;
}

.brown{
  background-color: #bba9aa;
}

body{
  background: #F9F8F8;
  color: #454547;
  font-family: 'Alata', sans-serif;
}

#grid-container{
  margin: 0 15%;
  z-index: 1;

}

header{
  margin-top: 1%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* display: grid;
    height: 50%;
    grid-template: 10% 45% 45% / 2fr 1fr 1fr; */
}

h1{
  font-size: 4em;
  text-align: center;
}

h2{
  font-size: 2.5em;
  color:#bba9aa;
  text-decoration: none;
  text-align: center;
}


#main-image{
  background: #eec71a;
  grid-column: 1/-2;
  grid-row: 1/-1;
  object-fit: cover;
  width: 100%;
}
#nav-top{
  display: flex;
  justify-content: center;
  }

  #nav-top ul {
    color: #9ab6bd;
    width: 60%;
    margin-bottom: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  #nav-top a{
    text-decoration: none;
    color: #9ab6bd;
  }

  #nav-top a:hover, #nav-top a:active{
    text-decoration: none;
    color: #9b4443;
  }

#flex-posts{
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content: space-evenly;
}

.post-box{
  width: 30vw;
  height: 30vh;
}

#grid-nav1{background: #f7f7f7;
  grid-column: 2/-2;
    grid-row: 2/2;
}
#grid-nav2{background: #dbdbdd;
  grid-column: 3/-1;
      grid-row: 2/2;}
#grid-nav3{background: #dbdbdd;
  grid-column: 2/-2;
      grid-row: 3/-1;
}
#grid-nav4{background: #f7f7f7;
  grid-column: 3/-1;
      grid-row: 3/-1;}

#post-container{
  min-height: 250px;
    margin-top: 5%;
    padding: 4%;
    }

#footer-container {
  padding: 4% 10%;
  margin-top: 100%;
  color: white;

}

#footer-container ul {
  display: flex;
  justify-content: space-around;
  flex-direction:column;
}
#footer-container ul li {
  padding-top: 0.3em;
}

.bottom-background{
  padding: 1%;
  margin-top: -17%;
}

.footer-thin{
  margin-top: -5%;
}

  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    /* #grid-container {
      width: 100%;
      margin:0;
      background: blue;
    } */
  }
