/* ---
---

@import ""; */


/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

/* RESET CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a, a:hover {
  text-decoration: none;
}

/* define colours */

/* $gray-lighter: #f7f7f7;
$gray-light: #dbdbdd;
$gray-dark: #aeafb3;
$gray-darker: #454547;
$pink: #e89d93;
$yellow: #eec71a; */

/* $lightyellow: #faeccd;
$blue: #9ab6bd;
$red: #9b4443;
$black: #47494c;
$brown: #bba9aa; */

body{
  display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.top-background{
  display: flex;
    flex-direction: row;
    position: absolute;
    justify-content: flex-start;
    align-items: flex-start;
    z-index: -1;
    pointer-events: none;
    top: 0;
}

.square{
 width: 1.5em;
 height: 1em;
}

.lightYellow{
  background-color: #faeccd;
}

.blue{
  background-color: #9ab6bd;
}

.red{
  background-color: #9b4443;
}

.black{
  background-color: #47494c;
}

.brown{
  background-color: #bba9aa;
}

body{
  background: #F9F8F8;
  color: #454547;
  font-family: 'Alata', sans-serif;
}

#grid-container{
 margin: 0 15%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

header{
  margin-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1{
  font-size: 4rem;
    text-align: center;
    pointer-events: none;
}

h2{
  font-size: 2.5rem;
  color:#bba9aa;
  text-decoration: none;
  text-align: center;
}

#main-image{
  background: #eec71a;
  grid-column: 1/-2;
  grid-row: 1/-1;
  object-fit: cover;
  width: 100%;
}
#nav-top{
  display: flex;
    justify-content: center;
  }

  #nav-top ul {
    color: #9ab6bd;
    min-width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  #nav-top li {
    padding: 0.5rem;
  }

  #nav-top a{
    text-decoration: none;
    color: #9ab6bd;
  }

  #nav-top a:hover, #nav-top a:active{
    text-decoration: none;
    color: #9b4443;
  }

#flex-posts{
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content: space-evenly;
}

.project-front-post{
  background-image: url(https://avatars1.githubusercontent.com/u/55356922?s=460&v=4);
   background-blend-mode: screen;
    background-size: cover;
    background-color: rgb(231, 224, 232,0.5);
    display: flex;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 0.25em;
    margin-right: 0.25em;
    flex-direction: column;
    align-items: center;
    min-height: 250px;
    flex-shrink: 1;
    overflow: hidden;
    justify-content: center;
}

.featured {
  flex-grow: 2;
}

@-webkit-keyframes imageSaturate{
  0% {background-color: rgb(231, 224, 232,0.5);}
  100% {background-color: rgb(231, 224, 232,0);}
}

  @-moz-keyframes imageSaturate{
  0% {background-color: rgb(231, 224, 232,0.5);}
  100% {background-color: rgb(231, 224, 232,0);}
}
  
  @-o-keyframes imageSaturate{
  0% {background-color: rgb(231, 224, 232,0.5);}
  100% {background-color: rgb(231, 224, 232,0);}
}
 @keyframes imageSaturate {
  0% {background-color: rgb(231, 224, 232,0.5);}
  100% {background-color: rgb(231, 224, 232,0);}
}

.project-front-post:hover{
  animation: imageSaturate 1s;
  animation-fill-mode: forwards;
}


@keyframes moveIt {
  0% {}
  100% {
    transform: rotate(-3deg) translatey(80%);
  }
}

.project-front-post:hover > .info {
  animation: moveIt 1s;
animation-fill-mode: forwards;
}

.project-front-post .info{
    width: 106%;
    text-transform: lowercase;
    object-fit: cover;
    transform: rotate(-3deg) translatey(130%);
}

@keyframes getLit {
  0% {}
  100% {
    opacity: 1;
  }
}

 
.project-front-post .category-tags{
  text-transform: lowercase;
    position: relative;
    opacity: 0.3;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
}

.project-front-post:hover > .info .category-tags{
    animation: getLit 2s forwards;
  }

.info h2 {
 font-size: 1rem;
    background: #47494c;
    padding: 1em 0 3em 0;
    color: #faeccd;
}

.info h2 a, .info h2 a:hover {
  color: #faeccd
}

h2 a {
  text-decoration: none;
}

p.tag{
  color: white;
    padding: 0.5em 1em;
    margin-right: 0.3em;
    text-shadow: 0.1em 0.1em 0.4em black;
}

.post p, .page p {
  margin-top: 1em;
  margin-bottom: 1em;
}

.post-box{
  width: 30vw;
  height: 30vh;
}

#grid-nav1{background: #f7f7f7;
  grid-column: 2/-2;
    grid-row: 2/2;
}
#grid-nav2{background: #dbdbdd;
  grid-column: 3/-1;
  grid-row: 2/2;}

#grid-nav3{background: #dbdbdd;
  grid-column: 2/-2;
  grid-row: 3/-1;
}

#grid-nav4{background: #f7f7f7;
  grid-column: 3/-1;
  grid-row: 3/-1;
}

#post-container{
  min-height: 250px;
    width: 100%;
    margin-top: 5%;
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-flow: wrap;
    }

#footer-container {
  padding: 1em;
    min-height: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: white;
    position: absolute;
    bottom: 0;
}

#footer-container ul {
  width: 70%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: flex-end;
}
#footer-container ul li {
  padding-top: 0.3em;
}

.bottom-background{
  padding: 1%;
  margin-top: -17%;
}

.footer-thin{
  margin-top: -5%;
}

  @media screen and (max-width: 600px) {
  #post-container {
    flex-direction: column;
    margin-top: 0;
  }

  #grid-container{
    margin:0;
  }

  #header{
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
  }

  h1{
    font-size: 3rem;
    text-align: center;
    pointer-events: none;
  }

  .project-front-post:hover, .project-front-post:hover < .info, .project-front-post:hover > .info .category-tags {

  }

  .project-front-post{
    background-color: rgb(231, 224, 232,0);
  }

  .project-front-post .info {
    transform: rotate(-3deg) translatey(80%);
  }

}