<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Richard Hanrahan's Coding Portfolio</title>
    <link rel="stylesheet" href="assets/css/style.css">
  </head>
  <body>

    <div id="grid-container">
      <header>
        <img src="" id="main-image" alt="">
        <nav id="nav-top">
          <ul>
            <li>About</li>
            <li>Posts</li>
            <li><a href="mailto:ChumchiDesigns@gmail.com">Contact</a></li>

          </ul>
        </nav>
        <aside id="grid-nav">
          <ul>
            <li>Java</li>
            <li>Javascript</li>
            <li>Ruby</li>
            <li>HTML/CSS</li>
          </ul>
        </aside>
      </header>
      <main id="post-container">
          {{ content }}
      </main>

    </div>
    <footer id="footer-container">
      <ul>
        <li>Facebook</li>
        <li>Twitter</li>
        <li>Design Portfolio</li>
      </ul>
    </footer>





  </body>
</html>
